.slider img, .card-image{
    height: 450px;
    object-fit: cover;    
}
.pointer{
    cursor:pointer;
}

.Processing{
    background-color: yellow !important;
}
.Dispatched{
    background-color: rgb(167, 222, 253) !important;
}
.Cancelled{
    background-color: grey !important;
}
.Completed{
    background-color: greenyellow !important;
}
